@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
ul{
  list-style-type: none;
  margin: 0;
}

a.active {
  color: rgb(218, 44, 32);
}

button:disabled{
  background-color: gray;
}